eref format=none

I'm pleased to see the undeprecation of `<xref format="none"...`, but I recently discovered a need for the same capability for `<eref>`.

Consider the boilerplate, which includes the text " in Section 2 of RFC 7841".  Documents do not cite RFC 7841, but the htmlizer tool helpfully turns this into a link anyway.  It would be really good to have the same feature in HTML.  Implementing this with `<eref>` works and produces useful HTML, but it renders in text as something like:

``` diff
-   Internet Standards is available in Section 2 of RFC 7841.
+   Internet Standards is available in Section 2
+   (http://www.rfc-editor.org/rfc/rfc7841.html#section-2) of RFC 7841
+   (http://www.rfc-editor.org/rfc/rfc7841.html).
```

Adding `<eref format="none">` (and `format="default"`) would allow for this to render nicely in HTML without rendering poorly in text.